<ion-header *ngIf=!showData>
    <ion-toolbar color='primary'>
    <ion-title (click)="startScan()">Click to scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf=showData>
  <ion-toolbar color='primary'>
  <ion-title (click)="disconnect()">Disconnect</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-col >
    <ion-list lines="none" *ngIf=!showData>
      <ion-item button *ngFor="let device of devices" (click)="connect(device)" detail>
        <ion-label>
          <h2>{{device.name}}</h2>
          <p>{{device.id}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
   
    <ion-card *ngIf=showData>
      <app-beacon-chart></app-beacon-chart>
      <ion-list>
      <ion-item>
        <p>Bar Weight: {{weight}} kg   Reps: {{reps}}</p>    <ion-button  [disabled]="lifting" slot="end" (click)="changeItem('weight')">Change</ion-button>
      </ion-item>
      <ion-item>
        <p>Wait Time: {{waitTime}} s</p>    <ion-button  [disabled]="lifting" slot="end" (click)="changeItem('time')">Change</ion-button>
      </ion-item>
     <ion-item>
        <p>Velocity Factor [0.5 - 1.0]:  {{velocityFactor}}  </p> <ion-button  [disabled]="lifting" slot="end" (click)="changeItem('velocityFactor')">Change</ion-button>
      
      </ion-item>
    </ion-list>
  
      <!-- <ion-item> ax: {{ accDataNew.ax | number:'1.2-2'}} ay: {{ accDataNew.ay | number:'1.2-2'}} az: {{ accDataNew.az | number:'1.2-2'}}</ion-item>
      <ion-item> gx: {{ gyroData.gx | number:'1.2-2'}} gy {{ gyroData.gy | number:'1.2-2'}} gz {{ gyroData.gz | number:'1.2-2'}}</ion-item>
      <ion-item> velocity: {{ velocity * 3.6 | number:'1.2-2'}} vx: {{ velocityDataNew.vx | number:'1.2-2'}} vy {{ velocityDataNew.vy | number:'1.2-2'}} vz {{ velocityDataNew.vz | number:'1.2-2'}}</ion-item> 
      <ion-item> DeltaAcc: {{ accAbsoluteVectorDelta | number:'1.2-2'}} ActualAcc: {{ accAbsoluteVectorNew | number:'1.2-2'}} </ion-item> 
      <ion-item> DeltaVel: {{ velocityAbsoluteVectorDelta }} ActualVel: {{ velocityAbsoluteVectorNew }} </ion-item> -->
      
      <ion-button color="danger" (click)="start(1)">Compete </ion-button>
      <ion-button [disabled]="competing"  color="danger" (click)="start(0)">Training</ion-button>
      <ion-button  [disabled]="!lifting || competing" color="danger" (click)="end()">End Training!</ion-button>

      <ion-item>
        <ion-button slot="end" block color="danger" (click)="showStats('')">Show Stats</ion-button>
      
      </ion-item>
    </ion-card>

    <!-- <ion-card *ngIf=showData>

      <ion-item>
        <p>Start order time: {{startTime}} s</p>    <ion-button  slot="end" (click)="changeItem('start')">Change</ion-button>
      </ion-item>
      <ion-item>
        <p>Press order time: {{pressTime}} s</p>    <ion-button slot="end" (click)="changeItem('press')">Change</ion-button>
      </ion-item>
      <ion-item>
        <p>Rack order time: {{rackTime}} s</p>    <ion-button slot="end"  (click)="changeItem('rack')">Change</ion-button>
      </ion-item>
        
    </ion-card> -->

  </ion-col>


</ion-content>
