<ion-header>
  <ion-toolbar>
    <ion-title (click)="startScan()">Click to scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size-lg="4" size-md="6" size-sm="6" size-xs="12">
    <ion-list lines="none">
      <ion-item button *ngFor="let device of devices" (click)="connect(device)" detail>
        <ion-label>
          <h2>{{device.name}}</h2>
          <p>{{device.id}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-card *ngIf=showData>
      <ion-card-header>Data received from {{ deviceName }} :</ion-card-header>
      <ion-item>ap {{ apDataArr}} </ion-item>
      <ion-item>mpu {{ mpuDataArr}} </ion-item>
      <ion-item>bmp {{ bmpDataArr}} </ion-item>
    </ion-card>
  </ion-col>
</ion-content>
